.country {
  position: relative;
}

.country__btn {
  position: relative;
  padding-right: 13px;
}

.country__btn::after {
  position: absolute;
  content: '';
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 6px;
  background: url('../image/arrow-down.svg') no-repeat center;

}

.country__wrapper {
  position: absolute;
  display: none;
  top: 40px;
  right: 0;
  width: 184px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 16px 8px 16px 16px;
}

.country__wrapper_open {
  display: block;
}

.country__list {
  max-height: 102px;
}

.country__item:not(:last-child) {
  margin-bottom: 10px;
}

.country__choise {
  font-size: 14px;
  font-weight: 300;
  transition: 0.5s ease-in-out;
  outline: transparent;
}

.country__choise:focus {
  color: #616ee8;
}

.country__choise:hover {
  border-bottom: 1px solid #2238FF;
}

.country__choise:active {
  color: #2238FF;
}

.country__track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  width: 4px;
}

.country__scrollbar {
  background-color: #ececec;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  .country__list {
    min-height: 120px;
  }

  .country__choise {
    font-size: 16px;
  }
}